.bot{
width: 500px;
text-align: center;
border: 5px solid yellow;
border-collapse: collapse;

}
th, td {
    border: 15px solid yellow;
}
. strobaryuq {
 color: brown;
background-color:  ;

}